html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

button {
  z-index: 30;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

.infotext {
  padding: 10px 20px;
  margin: 0px;
}

.menubar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuicon {
  padding: 0px 0px 0px 20px;
  color: grey;
  opacity: 0.5;
}

.menuicon:hover {
  color: black;
}

.vertical-menu {
  left: 20px;
  flex-direction: column;
  align-items: baseline;
}

.vertical-menu-popovers {
  left: 3vw;
  flex-direction: column;
  align-items: baseline;
}

.vertical-icon {
  padding: 0px 0px 20px 0px;
}

.loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  color: white;
  display: none;
}

.elastic-fai-md {
  font-size: 3vw;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .elastic-fai-md {
    font-size: 7vw;
  }
  .vertical-menu-popovers {
    left: 14vw;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .elastic-fai-md {
    font-size: 7vw;
  }
  .vertical-menu-popovers {
    left: 14vw;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .elastic-fai-md {
    font-size: 5vw;
  }
  .vertical-menu-popovers {
    left: 10vw;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .elastic-fai-md {
    font-size: 4vw;
  }
  .vertical-menu-popovers {
    left: 8vw;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .elastic-fai-md {
    font-size: 4vw;
  }
  .vertical-menu-popovers {
    left: 8vw;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .elastic-fai-md {
    font-size: 3vw;
  }
  .vertical-menu-popovers {
    left: 6vw;
  }
}
